<section>

    <!-- main content start-->
    <div class="main-content" >

    <!-- header section start-->
    <div class="header-section">

        <!--notification menu start -->
        <div class="pull-left">
            <img id="logo" src="/ember/images/whatsdue-logo.png"/>


        </div>
        <div class="menu-right">
            {{#link-to 'main.newCourse' tag="i" class="fa fa-plus-square-o pointer add-course btn btn-primary" data-toggle="modal" href="#Picker"}}
                Add Course
            {{/link-to}}
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{email}}
                        <i class="fa fa-info-circle"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="mailto:aaron@whatsdueapp.com"><i class="fa fa-envelope"></i>Email Aaron</a></li>
                        <li><a href="skype:aarontaylor613?call"><i class="fa fa-phone"></i>Skype Aaron</a></li>
                        <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--notification menu end -->
    </div>
    <!-- header section end-->



    <!--body wrapper start-->
    <div class="wrapper">
        {{outlet}}

    </div>
    <!--body wrapper end-->



    </div>
    <!-- main content end-->
</section>
<!--footer section start-->
<footer id="mainFooter">
    2014 &copy; WhatsDue
</footer>
<!--footer section end-->


<div class="overlay" style="display: none">
    
</div>